<!-- {{ range .Site.Params.services }}
	<li>
		<a href="{{ .url }}" class="btn btn-default btn-lg">
			<i class="fa fa-{{ .icon }} fa-fw"></i>
			<span class="network-name">{{ .title }}</span>
		</a>
	</li>
{{ end }} -->
{{ if eq .Site.Language.Lang "ru" }}
{{ range .Site.Params.links.ru }}
	<li>
		<a href="{{ .url }}" class="btn btn-default btn-lg">
			<i class="fa fa-{{ .icon }} fa-fw"></i>
			<span class="network-name">{{ .title }}</span>
		</a>
	</li>
{{ end }}
{{ else }}
{{ range .Site.Params.links.en }}
	<li>
		<a href="{{ .url }}" class="btn btn-default btn-lg">
			<i class="fa fa-{{ .icon }} fa-fw"></i>
			<span class="network-name">{{ .title }}</span>
		</a>
	</li>
{{ end }}
{{ end }}
