<!-- Page Content -->
{{ range $index, $element := .Data.Pages }}
{{ if or (eq .Section "services") (eq .Section "post") }}
{{ if modBool $index 2 }}
<section id="{{ .Title }}">
    <div class="content-section-{{.Params.color}} content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    {{ if .Params.isReady }}
                    <h2 class="section-heading">{{ .Site.Params.goToText }} <a class="service-link"
                            href="{{ .Params.web }}" target="blank">{{ .Title }}</a></h2>
                    {{ else }}
                    <h2 class="section-heading">{{ .Title }} {{ .Site.Params.inProgressText }}</h2>
                    {{ end }}
                    {{ .Content }}
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {{ if .Params.isReady }}
                    <a href="{{ .Params.web }}" target="blank">
                        {{ with .Params.img }}
                        <div class="subtlecirclewhite">
                            <img class="img-responsive center-block" src="img/{{ . }}" alt="">
                        </div>
                        {{ end }}
                    </a>
                    {{ else }}
                    {{ with .Params.img }}
                    <div class="subtlecirclewhite">
                        <img class="img-responsive center-block" src="img/{{ . }}" alt="">
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
</section>
<!-- /.content-section-a -->
{{ else }}
<section id="{{ .Title }}">
    <div class="content-section-{{.Params.color}} content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    {{ if .Params.isReady }}
                    <h2 class="section-heading">{{ .Site.Params.goToText }} <a class="service-link"
                            href="{{ .Params.web }}" target="blank">{{ .Title }}</a></h2>
                    {{ else }}
                    <h2 class="section-heading">{{ .Title }} {{ .Site.Params.inProgressText }}</h2>
                    {{ end }}
                    {{ .Content }}
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    {{ if .Params.isReady }}
                    <a href="{{ .Params.web }}" target="blank">
                        {{ with .Params.img }}
                        <div class="subtlecirclewhite">
                            <img class="img-responsive center-block" src="img/{{ . }}" alt="">
                        </div>
                        {{ end }}
                    </a>
                    {{ else }}
                    {{ with .Params.img }}
                    <div class="subtlecirclewhite">
                        <img class="img-responsive center-block" src="img/{{ . }}" alt="">
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</section>
<!-- /.content-section-b -->
{{ end }}
{{ end }}
{{ end }}