.navbar-right > li {
	border-top: 3px solid;
}

.navbar-right > li.active {
	border-top: 6px solid;
}

.navbar-right > li.green {
	border-color: #005a51;
}
.navbar-right > li.blue {
	border-color: #3477a1;
}
.navbar-right > li.red {
	border-color: #dc3546;
}
.navbar-right > li.marine {
	border-color: #00cc99;
}
.navbar-right > li.orange {
	border-color: #c1972d;
}
.navbar-right > li.purple {
	border-color: #9b569b;
}
.navbar-right > li.cyan {
	border-color: #007aff;
}

.content-section-green {
	background-color: #005a51;
	color: #f8f8f8;
}
.content-section-purple {
	background-color: #9b569b;
	color: #f8f8f8;
} 
.content-section-grey {
	background-color: #ebebeb;
} 
.content-section-blue {
	background-color: #3477a1;
	color: #f8f8f8;
} 
.content-section-cyan {
	background-color: #007aff;
	color: #f8f8f8;
} 

.content-section-red {
	background-color: #dc3546;
	color: #f8f8f8;
} 
.content-section-marine {
  background-color: #00cc99;
  color: #f8f8f8;
}
.content-section-orange {
  background-color: #c1972d;
  color: #f8f8f8;
}

.footer-black {
	background-color: #2e2e2e;
	color: #f8f8f8 !important;
} 


/* LINKS */

div > ol > li > a {
  color: #fff;
  text-decoration: underline;
}

a.page-scroll {
  color: #fff;
  opacity: 0.75;
}

a.text-dark {
  color: #fff;
  opacity: 0.75;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  opacity: 0.75;
  font-weight: 700;
}

.navbar-inverse .navbar-nav>li.active>a {
  color: #fff;
  opacity: 1;
  font-weight: 700;
}

a.service-link {
	color: #f8f8f8 !important;
	text-decoration: underline !important;
}

/* IMG */

.img-responsive {
  margin: 0 auto;
}


/* BUTTONS */
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    color: #f8f8f8;
    line-height: 45px;
}

/* CIRCLES */

.subtlecircle {
  text-align:center;
  z-index:3;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.05);
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAF0lEQVQIHWP8//+/MQMaYELjg7kUCgIASm8DOqGzfp8AAAAASUVORK5CYII=);
}

.subtlecirclewhite {
  text-align:center;
  z-index:3;
  border-radius:50%;
  padding: 15%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 1px 15px rgba(0,0,0,0.05);
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAF0lEQVQIHWP8//+/MQMaYELjg7kUCgIASm8DOqGzfp8AAAAASUVORK5CYII=);
  /* background-color: #ebebeb; */
}

/* SECTIONS */

.sectiondivider {
  width:270px;
  height:270px;
  padding:15px;
  position:relative;
  top:-185px;
  left:50%;
  margin-left:-135px;
  margin-bottom:-275px;
}

.sectiondivider img {
  width:200px;
  height:240px;
  position: static;
/*  margin-top: -20px; */
}

.sectiondivider .fa-stack {
  font-size: 130px;
  position: static;
  margin-top: -8px;
}
.sectiondivider .fa-circle { color: #fff; }

.sectiondivider h5 {
  font-size:15px;
  font-weight:700;
  text-transform:uppercase;
  position:absolute;
  bottom:50px;
  left:auto;
  text-align:center;
  display:block;
  z-index:6;
  width:240px;
}

.sectiondivider.imaged {
  text-shadow: 1px 1px 3px #333;
}
